/*
tablet: 700px
desktop: 1000px
*/

:root {
  --font-family: 'Plus Jakarta Sans', sans-serif;
  --font-secondary: #828FA3;
  --shadow: 0px 4px 6px rgba(54, 78, 126, 0.1);
  --primary: #635FC7;
  --primary-hover: #A8A4FF;
  --red: #EA5555;
  --light-red: #FF9898;
  --button-secondary-font: #635FC7;
  --white: #FFFFFF;
  --blur: rgba(0, 0, 0, 0.5);
  --primary-fade-25: rgba(99, 95, 199, 0.25);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100vh;
  min-width: 100vw;
  height: 100%;
  width: 100%;
  font-family: 'Plus Jakarta Sans', sans-serif;
  overflow: hidden;
}

body[data-theme="light"] {
  --light: #FFFFFF;
  --medium: #E4EBFA;
  --medium-gradient: linear-gradient(180deg, #E9EFFA 0%, rgba(233, 239, 250, 0.5) 100%);
  --dark: #F4F7FD;
  --font-primary: #000112;
  --button-secondary: rgba(99, 95, 199, 0.1);
  --button-secondary-hover: rgba(99, 95, 199, 0.25);
  --form-label: #828FA3;
  --board-actions: #FFFFFF;
  --form-input: rgba(0, 1, 18, 0.25);
  --font-primary-50: rgba(0, 1, 18, 0.5);
}

body[data-theme="dark"] {
  --light: #2B2C37;
  --medium: #3E3F4E;
  --medium-gradient: linear-gradient(180deg, rgba(43, 44, 55, 0.25) 0%, rgba(43, 44, 55, 0.125) 100%);
  --dark: #20212C;
  --font-primary: #FFFFFF;
  --button-secondary: #FFFFFF;
  --button-secondary-hover: #FFFFFF;
  --form-label: #FFFFFF;
  --board-actions: #20212C;
  --form-input: rgba(255, 255, 255, 0.25);
  --font-primary-50: rgba(255, 255, 255, 0.5);
}

#app {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  background-color: var(--light);
}

/* =============== shared styles =============== */
.form-fieldset {
  border: none;
  display: flex;
  flex-direction: column;
}

.form-label {
  font-size: 12px;
  font-weight: 700;
  color: var(--form-label);
  padding-top: 24px;
  padding-bottom: 8px;
}

.form-input {
  border: 1px solid var(--form-input);
  border-radius: 4px;
  padding: 8px 8px 8px 16px;
}

.form-input:hover, .form-input:focus {
  outline: 1px solid var(--primary);
}

.form-input::placeholder {
  color: var(--form-input);
  font-size: 13px;
  font-weight: 500;
  font-family: var(--font-family);
}

.form-text-area {
  line-height: 23px;
  max-height: 112px;
  overflow: scroll;
  font-family: var(--font-family);
  font-size: 13px;
}

.error-text {
  color: var(--red);
  font-size: 13px;
  font-weight: 500;
}

.error-box {
  border: 1px solid var(--red);
}